.user-page-container {
  margin: 20px;
  .crud-table {
    display: flex;
    justify-content: space-around;

    app-crud-table {
      width: 100%;
    }
  }

  .floating-add-button {
    float: right;
    position: fixed;
    right: 64px;
    bottom: 64px;
  }
}

.helper-buttons {
  margin: 20px;
}
