<h1 mat-dialog-title>{{config.title}}</h1>
<div mat-dialog-content>
  <form [formGroup]="formGroup" class="dialog-content">
    <ng-container *ngFor="let field of config.formField">
      <mat-form-field class="field" *ngIf="field.formType === FormTypes.text">
        <mat-label>{{field.label}}</mat-label>
        <input matInput *ngIf="field.formControl" [required]="field.required"
               [(ngModel)]="config.data[field.dataSelector]"
               [name]="field.label"
               [formControl]="field.formControl"
               [formControlName]="field.dataSelector.toString()"
               [placeholder]="field.placeholder"/>
        <mat-error *ngIf="field.formControl?.invalid">{{getError(field.formControl)}}</mat-error>
      </mat-form-field>
    </ng-container>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="">cancel</button>
  <button mat-raised-button color="primary"
          (click)="confirm()"
          [disabled]="!formGroup?.valid">
    confirm
  </button>
</div>
